body{
    background: #333;
}
.box{
    background: white;
    width: 200px;
    height : 200px;
    position: relative;
    animation-name: myanimation;    /* 클래스에 적용 될 animation-name 지정 */
    animation-duration: 4s;         /* 한 사이클의 애니메이션 지속 시간 */
    animation-iteration-count: infinite;    /* 반복 횟수 */
    animation-fill-mode: alternate;  /* 애니메이션 시작 전 & 후 적용될 값 지정 */
  /*animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;*/

}
/* @keyframes myanimation{
    0%{background-color: white; left: 0px; top:0px; border-radius: 0 0 0 0;}
    25%{background-color: red; left: 300px; top: 0px; border-radius : 50% 0 0 0;}
    50%{background-color: green;left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
    75%{background-color: blue; left: 0; top: 300px; border-radius: 50% 50% 50% 0}
    100%{background-color: white;left: 0; top: 0; border-radius: 50% 50% 50% 50%;}
} */
@keyframes myanimation{/* 중간상태 지정 */
    0%{background-color: white; border-radius: 0 0 0 0;}
    25%{background-color: red; border-radius : 50% 0 0 0;}
    50%{background-color: green; border-radius: 50% 50% 0 0;}
    75%{background-color: blue; border-radius: 50% 50% 50% 0}
    100%{background-color: white; border-radius: 50% 50% 50% 50%;}
}